@import './normalize.css';
@import url('https://fonts.googleapis.com/css?family=Raleway');

:root {
  --main-font-color: white;
  --alt-font-color: #d8dddd;
  --black: rgb(15, 15, 15);
  --main-background-color: #0f191b;
  --main-background-transparent: #0f191bd2;
}

body {
  font-family: 'Raleway', sans-serif;
  color: var(--alt-font-color);
  /* background-color: var(--main-background-color); */
  background-image: url('../images/Background.jpg');
}

.landing-form {
  margin: 100px auto;
  width: 50%;
  text-align: center;
  font-size: 30px;
  z-index: 0;
}

.landing-form h3 {
  font-size: 80px;
  margin-bottom: 0px;
}

.landing-form input[type=number] {
  font-size: 30px;
  height: 40px;
  margin: 15px 0px;
  background-color: var(--main-background-transparent);
  color: var(--main-font-color)
}
.landing-form label {
  margin-left: 10px;
}
.landing-form input[type=submit] {
  background-color: var(--main-background-color);
  color: var(--main-font-color);
  border: 1px solid var(--alt-font-color);
  border-radius: 4px;
  padding: 8px;
}

.sidebar {
  position: fixed;
  width: 400px;
  right: 0; 
  top: 0;
  background-color: var(--main-background-transparent);
  z-index: 10;
  padding: 20px;
}